* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #001125;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1140px;
  height: 650px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border: 4px solid rgba(239, 239, 239, 0.36);
  box-sizing: border-box;
  box-shadow: 0px 40px 40px 10px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(30px);
  border-radius: 34px;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-content h1 {
  font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #c8c8c8;
}

.left-content h2 {
  font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #c8c8c8;
}

.left-content_guessing-no {
  width: 277px;
  height: 234px;
  background: #001629;
  border: 4px solid #002d5791;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.7rem;
}

.left-content_guessing-no span {
  font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 160px;
  color: rgba(255, 255, 255, 0.5);
}

.left-content input {
    font-family: "Krona One", sans-serif;
  width: 277px;
  height: 85px;
  background: #001629;
  border: 4px solid #002d5791;
  box-sizing: border-box;
  font-size: 50px;
  line-height: 30px;
  color: #c8c8c8;
  text-align: center;
  margin-top: 2rem;
  outline: none;
}


.right-content{
margin-bottom: 2rem;
}

.right-content img{
    width: 600px;
    height: 333px;
    border: 10px solid #002d5791;
}

.buttons{
   display: flex;
   flex-direction: row;
   gap: 1rem;
   margin-top: 2rem;
}

.btn{
    font-family: "Krona One", sans-serif;
padding: 1rem 1.4rem;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #002b64;
border: none;
outline: none;
}

.right-content p{
    font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #c8c8c891;
  margin-top: 1.5rem;
}

.right-content h3{
    font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #c8c8c8;
  margin-top: 1rem;
}

.check-btn{
    background-color: #005cd4;
    color: #fff;
}